
run = "python 0.py --host 0.0.0.0 --port 3000"
modules = ["python-3.11"]

[env]
FLASK_APP = "0.py"
FLASK_ENV = "development"
PORT = "3000"

[nix]
channel = "stable-24_05"
packages = ["postgresql", "python310Full", "python310Packages.flask", "python310Packages.requests"]

[deployment]
run = ["python", "0.py"]

[[ports]]
localPort = 3000
externalPort = 80

[workflows]

[[workflows.workflow]]
name = "Run"
author = 42014373
mode = "parallel"

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run"
